# pattern of dotted directory without backslash
.ruig

# pattern of directory with trailing backslash
out/

# pattern of file name
*.log

# https://github.com/microsoft/ruig-ruigem/issues/588
foo
!foo/bar/hello.txt